.checklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 200px;
  gap: 50px;
}

.checklist-client {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  height: auto;
}

.checklist-input {
  display: flex;
  gap: 10px;
}

.checklist-input input {
  width: 250px;
}

.checklist-items {
  width: 370px;
  margin: 10px 20px;
  text-align: left;
}

.checklist-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  width: auto;
}

.white {
  background-color: white;
}
