.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 100px;
  gap: 20px;
}

.menu-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 1080px) {
  .menu {
    padding: 0;
  }

  .menu-home {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .menu-options {
    flex-wrap: nowrap;
    gap: 8px;
  }
}

@media (max-width: 800px) {
  .menu-home {
    margin: 10px 0 0 0;
  }

  .menu-options button {
    font-size: 0;
    transition: font-size 0.3s;
  }

  .menu-options button:focus,
  .menu-options button:hover {
    font-size: 12px;
  }
}
