form,
input,
select,
label,
button,
.form {
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
}

.form {
  width: 80%;
}

input,
select {
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  box-shadow: 0 2px 2px #0000008a;
  padding: 7px 14px;
}

input:focus,
select:focus {
  border: 1px solid #7a7a7a;
  outline: 1px solid #7a7a7a;
}

.error-msg {
  font-size: 12px;
  margin: 2px 0 0;
  color: #242424;
}

.form button {
  margin-top: 10px;
}
