.banner {
  background-color: #c398de;
  padding: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.banner-title {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}
