h3,
img {
  background-color: transparent;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 50px;
  margin: 50px 150px;
}

.card {
  width: 500px;
  height: 300px;

  border-radius: 15px;
  border: 1px solid #7a7a7a;
  box-shadow: 0 2px 2px #0000008a;
  padding: 50px;
}
