.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 30px;
  margin: 50px;
}

.card {
  max-width: 560px;
  border-radius: 15px;
  border: 1px solid #7a7a7a;
  box-shadow: 0 2px 2px #0000008a;
  padding: 30px 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  width: 200px;
  font-size: 26px;
}

.shop {
  font-size: 20px;
}

@media (max-width: 1270px) {
  .card-image {
    max-width: 220px;
  }
}

@media (max-width: 1200px) {
  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .card h3 {
    font-size: 24px;
  }

  .card-image {
    max-width: 180px;
  }
}

@media (max-width: 580px) {
  .card {
    flex-direction: column;
  }
}
