.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 1300px;
  margin: 50px auto 50px auto;
}

.product-card {
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.product-stars {
  margin-bottom: 10px;
}

.product-price-tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.product-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.product-image img {
  width: 128px;
  height: 128px;
}

.product-highlight {
  padding: 5px 10px;
  border-radius: 15px;
  margin: 0 30px 15px 30px;
  text-align: center;
}
