.register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 40px; */
  width: 400px;
  height: 300px;
  padding: 35px;
  border-radius: 15px;
  border: 1px solid #8e8e8e;
  border-width: 2px 2px 3px 2px;
  box-shadow: 1px 3px 1px #0000008a;
  background-color: #fff;
}

.register-title {
  background-color: transparent;
  width: 250px;
  font-weight: 800;
}
